<!DOCTYPE html>

    <!-- Annonce la langue du document -->
    <html lang="fr">
        <head>
            <% include ./../models/Partiel/head %>
        </head>


        <body>

            <% include ./../models/Partiel/navbar %>

            <section class="engine">
            </section>
            <section class="services5 cid-rqAcxjsmG7" id="services5-d">

                <div class="container">
                        <div class="row justify-content-center">
                            <div class="title col-12 col-lg-8">
                                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                                    Se Connecter
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="media-container-column col-lg-8" data-form-type="formoid">
                                <!---Formbuilder Form--->
                                <form action="/Inscription" method="POST">
                                    <div class="dragArea row row-sm-offset">
                                        <div class="col-md-12  form-group" data-for="email">
                                            <input type="email" name="emailUser" placeholder="E-mail" data-form-field="Email" required="required" class="form-control display-7" id="email-form3-w">
                                        </div>
                                        <div class="col-md-12  form-group" data-for="mdp">
                                            <input type="password" name="mdpUser" placeholder="Mot de passe" data-form-field="Email" required="required" class="form-control display-7" id="email-form3-w">
                                        </div>
                                        <div class="col-md-12 input-group-btn align-center">
                                            <div class="col-auto input-group-btn">
                                                <button type="submit" class="btn  btn-secondary display-4">
                                                    OK
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form><!---Formbuilder Form--->
                            </div>
                        </div>
                    </div>
                </section>

<% include ./../models/Partiel/footer %>
            
           
            <script src="assets/web/assets/jquery/jquery.min.js"></script>
            <script src="assets/popper/popper.min.js"></script>
            <script src="assets/tether/tether.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/smoothscroll/smooth-scroll.js"></script>
            <script src="assets/dropdown/js/script.min.js"></script>
            <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
            <script src="assets/theme/js/script.js"></script>
        </body>
    </html>