<!DOCTYPE html>

	<!-- Annonce la langue du document -->
	<html lang="fr">
        <head>
            <% include ./../models/Partiel/head %>
        </head>
        <body>
            <% include ./../models/Partiel/navbar %>

            <section class="engine">
            </section>
            <section class="services5 cid-rqAcxjsmG7" id="services5-d">

                <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1">
                    Evenement
                </h2>
                
            </div>
            <div class="container">
                            <p>
                                Sélectionnez des villes et/ou sports pour affiner votre recherche
                            </p>
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Selectionnez une Ville
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Ville1</a>
                                            <a class="dropdown-item" href="#">Ville2</a>
                                            <a class="dropdown-item" href="#">Ville3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sélectionnez un Sport
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Sport1</a>
                                            <a class="dropdown-item" href="#">Sport2</a>
                                            <a class="dropdown-item" href="#">Sport3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                        </div>
            <!--Card-1-->
            <div class="card col-12 pb-5">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <!--Image-->
                                <div class="mbr-figure">
                                    <img src="assets/images/product1.jpg" alt="Mobirise">
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            Watch 1
                                        </h4>
                                        <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                            $400
                                        </p>
                                    </div>
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card col-12 pb-5">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <!--Image-->
                                <div class="mbr-figure">
                                    <img src="assets/images/product1.jpg" alt="Mobirise">
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            Watch 2
                                        </h4>
                                        <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                            $400
                                        </p>
                                    </div>
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <!--Image-->
                                <div class="mbr-figure">
                                    <img src="assets/images/product1.jpg" alt="Mobirise">
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            Watch 3
                                        </h4>
                                        <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                            $400
                                        </p>
                                    </div>
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style display-7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            
            <!--Card-5-->
            
            <!--Card-6-->
            
        </div>
    </div>
</section>

            <% include ./../models/Partiel/footer %>


            <script src="assets/web/assets/jquery/jquery.min.js"></script>
            <script src="assets/popper/popper.min.js"></script>
            <script src="assets/tether/tether.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/smoothscroll/smooth-scroll.js"></script>
            <script src="assets/dropdown/js/script.min.js"></script>
            <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
            <script src="assets/theme/js/script.js"></script>
        </body>
	</html>