<!DOCTYPE html>

	<!-- Annonce la langue du document -->
	<html lang="fr">
	    <head>
		  	<% include ./../models/Partiel/head %>
		</head>
		<body>
		  	<% include ./../models/Partiel/navbar %>

			<section class="engine">
			</section>
			<section class="header3 cid-rqsSxDVIOJ" id="header3-3">

			    

			    <div class="container">
			        <div class="media-container-row">
			            <div class="mbr-figure" style="width: 115%;">
			                <img src="assets/images/accueil/apropos-800x472.png" alt="Mobirise" title="">
			            </div>

			            <div class="media-content">
			                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
			                	A propos
			                </h1>
			                
			                <div class="mbr-section-text mbr-white pb-3 ">
			                    <p class="mbr-text mbr-fonts-style display-5">
			                        Ce site a pour but de vous aider à trouver votre club de sport ainsi que des partenaire pour pratiquer vos sports le plus facilement possible!
			                    </p>
			                </div>
			                
			            </div>
			        </div>
			    </div>

			</section>

			<section class="mbr-section content7 cid-rqsWM1d3Qv" id="content7-5">
			          
			    

			    <div class="container">
			        <div class="media-container-row">
			            <div class="col-12 col-md-10">
			                <div class="media-container-row">
			                    <div class="media-content">
			                        <div class="mbr-section-text">
			                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
			                            	<strong>
			                               		<br>
			                               	</strong>
			                               	<br>
			                               	<strong>
			                               		Trouve ton Club de sport !
			                               	</strong>
			                               	<strong>
			                               		<br>
			                               	</strong> 
			                               	<br>
			                               	Grâce à trouve-ton-sport, trouve le club de sport le plus proche de chez toi qui propose les sports qui t'intéresse grâce à l'outil de recherche de l'onglet Clubs de sport.
			                            </p>
			                        </div>
			                    </div>
			                    <div class="mbr-figure" style="width: 85%;">
			                     <img src="assets/images/accueil/clubsport-436x327.jpg" alt="Mobirise" title="">  
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>

			<section class="mbr-section content7 cid-rqsYUNhhRm" id="content7-6">
			          
			    

			    <div class="container">
			        <div class="media-container-row">
			            <div class="col-12 col-md-10">
			                <div class="media-container-row">
			                    <div class="media-content">
			                        <div class="mbr-section-text">
			                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
			                               <strong>
			                               		<br>
			                               	</strong>
			                               	<br>
			                               	<strong>
			                               		Participe à des événements sportifs prêt de chez toi !
			                               	</strong>
			                               	<strong>
			                               		<br>
			                               	</strong> 
			                               	<br>
			                               	Trouve-ton-Sport te propose des dizaines d'événements sportif prêt de chez toi afin de faire du sport en s'amusant.
			                               	<br>
			                               	Tu peux même créer toi-même des événements sportifs afin de rassembler des gens autour d'une passion!
			                            </p>
			                        </div>
			                    </div>
			                    <div class="mbr-figure" style="width: 85%;">
			                     <img src="assets/images/accueil/evenement-728x546.jpg" alt="Mobirise" title="">  
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>

			<section class="mbr-section content7 cid-rqsYVP9wNG" id="content7-7">
			          
			    

			    <div class="container">
			        <div class="media-container-row">
			            <div class="col-12 col-md-10">
			                <div class="media-container-row">
			                    <div class="media-content">
			                        <div class="mbr-section-text">
			                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
			                               <strong>
			                               		<br>
			                               	</strong>
			                               		<br>
			                               	<strong>
			                               		Trouve des Partenaires !
			                               	</strong>
			                               	<strong>
			                               		<br>
			                               	</strong> 
			                               	<br>
			                               	Tu n'aimes pas faire du sport seul ? 
			                               	<br>
			                               	Il te manque un partenaire pour jouer ?
			                               	<br>
			                               C'est parfait en te créant un profil sur Trouve-ton-Sport tu peux voir toutes les personnes qui font du les mêmes sports que toi dans ta ville et prendre contact avec eux!
			                           </p>
			                        </div>
			                    </div>
			                    <div class="mbr-figure" style="width: 85%;">
			                     <img src="assets/images/accueil/partenaire-728x485.jpg" alt="Mobirise" title="">  
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>

	        <% include ./../models/Partiel/footer %>

					
			<!-- jQuery library -->

			<script src="assets/web/assets/jquery/jquery.min.js"></script>
			<script src="assets/popper/popper.min.js"></script>
			<script src="assets/tether/tether.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="assets/smoothscroll/smooth-scroll.js"></script>
			<script src="assets/dropdown/js/script.min.js"></script>
			<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
			<script src="assets/theme/js/script.js"></script>
		</body>
	</html>