<!DOCTYPE html>

<!-- Annonce la langue du document -->
<html lang="fr">
    <head>
	  	<!-- Site made with Mobirise Website Builder v4.10.0, https://mobirise.com -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="generator" content="Mobirise v4.10.0, mobirise.com">
		<!-- Assure un rendu correct(en fonction de l'appareil)	et le zoom tactile pour mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="shortcut icon" href="assets/images/testlogo-122x65.jpg" type="image/x-icon">
		<meta name="description" content="">
		<!-- titre de la page-->
		<title>Accueil</title>
		<link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
		<link rel="stylesheet" href="assets/tether/tether.min.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="assets/dropdown/css/style.css">
		<link rel="stylesheet" href="assets/socicon/css/styles.css">
		<link rel="stylesheet" href="assets/theme/css/style.css">
		<link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
		<!-- lien vers la feuille de style -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
	  	<section class="menu cid-rqsRdQNBAD" once="menu" id="menu1-0">

	    

	 		<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
	        	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            	<div class="hamburger">
		            	<span></span>
		                <span></span>
		                <span></span>
		                <span></span>
		            </div>
	        </button>
	        <div class="menu-logo">
	            <div class="navbar-brand">
	                <span class="navbar-logo">
	                    <a href="/">
	                         <img src="assets/images/logo-122x65.jpg" alt="Mobirise" title="" style="height: 3.8rem;">
	                    </a>
	                </span>
	            </div>
	        </div>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
	            	<li class="nav-item">
	                	<a class="nav-link link text-white display-4" href="/ClubSport">
	                		Clubs de Sports
	                	</a>
	                </li>
	                <li class="nav-item">
	                	<a class="nav-link link text-white display-4" href="/Evenement">
	                		Evenements
	                	</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link link text-white display-4" href="/Partenaire">
	                    	Partenaires
	                    </a>
	                </li>
	            </ul>
	            <div class="navbar-buttons mbr-section-btn">
	            	<a class="btn btn-sm btn-secondary-outline display-4" href="/Connexion">
	            		<span class="mbri-user mbr-iconfont mbr-iconfont-btn">
	            		</span>
	                    Se Connecter
	                </a> 
	                <a class="btn btn-sm btn-secondary-outline display-4" href="/Inscription">
	                	S'Inscrire
	                </a>
	            </div>
	        </div>
	    </nav>
	</section>

	<section class="engine">
		<a href="https://mobirise.info/p">
			web templates free download
		</a>
	</section>
	<section class="header3 cid-rqsSxDVIOJ" id="header3-3">

	    

	    <div class="container">
	        <div class="media-container-row">
	            <div class="mbr-figure" style="width: 115%;">
	                <img src="assets/images/accueil/apropos-800x472.png" alt="Mobirise" title="">
	            </div>

	            <div class="media-content">
	                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
	                	A propos
	                </h1>
	                
	                <div class="mbr-section-text mbr-white pb-3 ">
	                    <p class="mbr-text mbr-fonts-style display-5">
	                        Ce site a pour but de vous aider à trouver votre club de sport ainsi que des partenaire pour pratiquer vos sports le plus facilement possible!
	                    </p>
	                </div>
	                
	            </div>
	        </div>
	    </div>

	</section>

	<section class="mbr-section content7 cid-rqsWM1d3Qv" id="content7-5">
	          
	    

	    <div class="container">
	        <div class="media-container-row">
	            <div class="col-12 col-md-10">
	                <div class="media-container-row">
	                    <div class="media-content">
	                        <div class="mbr-section-text">
	                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
	                            	<strong>
	                               		<br>
	                               	</strong>
	                               	<br>
	                               	<strong>
	                               		Trouve ton Club de sport !
	                               	</strong>
	                               	<strong>
	                               		<br>
	                               	</strong> 
	                               	<br>
	                               	Grâce à trouve-ton-sport, trouve le club de sport le plus proche de chez toi qui propose les sports qui t'intéresse grâce à l'outil de recherche de l'onglet Clubs de sport.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="mbr-figure" style="width: 85%;">
	                     <img src="assets/images/accueil/clubsport-436x327.jpg" alt="Mobirise" title="">  
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="mbr-section content7 cid-rqsYUNhhRm" id="content7-6">
	          
	    

	    <div class="container">
	        <div class="media-container-row">
	            <div class="col-12 col-md-10">
	                <div class="media-container-row">
	                    <div class="media-content">
	                        <div class="mbr-section-text">
	                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
	                               <strong>
	                               		<br>
	                               	</strong>
	                               	<br>
	                               	<strong>
	                               		Participe à des événements sportifs prêt de chez toi !
	                               	</strong>
	                               	<strong>
	                               		<br>
	                               	</strong> 
	                               	<br>
	                               	Trouve-ton-Sport te propose des dizaines d'événements sportif prêt de chez toi afin de faire du sport en s'amusant.
	                               	<br>
	                               	Tu peux même créer toi-même des événements sportifs afin de rassembler des gens autour d'une passion!
	                            </p>
	                        </div>
	                    </div>
	                    <div class="mbr-figure" style="width: 85%;">
	                     <img src="assets/images/accueil/evenement-728x546.jpg" alt="Mobirise" title="">  
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="mbr-section content7 cid-rqsYVP9wNG" id="content7-7">
	          
	    

	    <div class="container">
	        <div class="media-container-row">
	            <div class="col-12 col-md-10">
	                <div class="media-container-row">
	                    <div class="media-content">
	                        <div class="mbr-section-text">
	                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
	                               <strong>
	                               		<br>
	                               	</strong>
	                               		<br>
	                               	<strong>
	                               		Trouve des Partenaires !
	                               	</strong>
	                               	<strong>
	                               		<br>
	                               	</strong> 
	                               	<br>
	                               	Tu n'aimes pas faire du sport seul ? 
	                               	<br>
	                               	Il te manque un partenaire pour jouer ?
	                               	<br>
	                               C'est parfait en te créant un profil sur Trouve-ton-Sport tu peux voir toutes les personnes qui font du les mêmes sports que toi dans ta ville et prendre contact avec eux!
	                           </p>
	                        </div>
	                    </div>
	                    <div class="mbr-figure" style="width: 85%;">
	                     <img src="assets/images/accueil/partenaire-728x485.jpg" alt="Mobirise" title="">  
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<section once="footers" class="cid-rqsYYTbGKI" id="footer7-8">

	    

	    

	    <div class="container">
	        <div class="media-container-row align-center mbr-white">
	            <div class="row row-links">
	                <ul class="foot-menu">
	                    <li class="foot-menu-item mbr-fonts-style display-7">
	                    	Contact us
	                    </li>
	                </ul>
	            </div>
	            
	            <div class="row row-copirayt">
	                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
	                    © Copyright 2019 Mobirise - All Rights Reserved
	                    <br>
	                	Site réalisé dans le cadre d'un projet étudiant.
	                </p>
	            </div>
	        </div>
	    </div>
	</section>

			
		<!-- jQuery library -->

		<script src="assets/web/assets/jquery/jquery.min.js"></script>
		<script src="assets/popper/popper.min.js"></script>
		<script src="assets/tether/tether.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/smoothscroll/smooth-scroll.js"></script>
		<script src="assets/dropdown/js/script.min.js"></script>
		<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
		<script src="assets/theme/js/script.js"></script>
</body>
</html>