<!DOCTYPE html>
    <html lang="fr">
        <head>
            <% include ./../models/Partiel/head %>
        </head>


        <body>

            <% include ./../models/Partiel/navbar %>

            <section class="engine">
            </section>
            <section class="team1 cid-rqKNieUhiu" id="team1-m">
    
            <div class="container align-center">
                <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
                    Partenaires
                </h2>

                <div class="row media-row">
                    <div class="team-item col-lg-3 col-md-6">
                        <div class="item-image">
                            <img src="assets/images/face3.jpg" alt="" title="">
                        </div>
                        <div class="item-caption py-3">
                            <div class="item-name px-2">
                                <p class="mbr-fonts-style display-5">
                                    Steven Bruce
                                </p>
                            </div>
                            <div class="item-role px-2">
                                <p>
                                    djckejdkzjxrlekzldkekdeldkelkdlekdlekdlekdlekdlekdlekdlekdlekdledklekdlekdlekdlekdlekdlekdlekdleklekdlekdlekddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                                </p>
                            </div>
                            <div class="item-social pt-2">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social mbri-users">
                                        
                                    </span>
                                </a>
                                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                
                                </a>
                                <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                
                                </a>
                                <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                                
                                </a>
                                <a href="https://www.instagram.com/mobirise/" target="_blank">
                                
                                </a>
                                <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ./../models/Partiel/footer %>

        <script src="assets/web/assets/jquery/jquery.min.js"></script>
        <script src="assets/popper/popper.min.js"></script>
        <script src="assets/tether/tether.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/smoothscroll/smooth-scroll.js"></script>
        <script src="assets/dropdown/js/script.min.js"></script>
        <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
        <script src="assets/theme/js/script.js"></script>
  
    </body>
</html>